<a href="https://colab.research.google.com/github/muhamad-rizal/Praktikum03/blob/main/Praktikum03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
path_  ="/content/drive/My Drive/Machine Learning/Dataset/Praktikum03/seles_data.csv"
dataset = pd.read_csv(path_)
dataset

   Customer Number     Customer Name        2016  ... Day  Year Active
0          10002.0  Quest Industries  $125000.00  ...  10  2015      Y
1         552278.0    Smith Plumbing  $920000.00  ...  15  2014      Y
2          23477.0   ACME Industrial   $50000.00  ...  29  2016      Y
3          24900.0        Brekke LTD  $350000.00  ...  27  2015      Y
4         651029.0         Harbor Co   $15000.00  ...   2  2014      N

[5 rows x 10 columns]

In [ ]:
dataset['2016'] + dataset['2017']

0     $125000.00$162500.00
1    $920000.00$1012000.00
2       $50000.00$62500.00
3     $350000.00$490000.00
4       $15000.00$12750.00
dtype: object

In [ ]:
dataset.dtypes

Customer Number    float64
Customer Name       object
2016                object
2017                object
Parcent Growth      object
Jan Units           object
Month                int64
Day                  int64
Year                 int64
Active              object
dtype: object

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customer Number  5 non-null      float64
 1   Customer Name    5 non-null      object
 2   2016             5 non-null      object
 3   2017             5 non-null      object
 4   Parcent Growth   5 non-null      object
 5   Jan Units        5 non-null      object
 6   Month            5 non-null      int64
 7   Day              5 non-null      int64
 8   Year             5 non-null      int64
 9   Active           5 non-null      object
dtypes: float64(1), int64(3), object(6)
memory usage: 528.0+ bytes

In [4]:
dataset["Customer Number"] = dataset['Customer Number'].astype("int")
dataset.dtypes

Customer Number     int64
Customer Name      object
2016               object
2017               object
Parcent Growth     object
Jan Units          object
Month               int64
Day                 int64
Year                int64
Active             object
dtype: object

In [ ]:
dataset["2016"].astype('float')
dataset.dtypes

ValueError: ignored

In [5]:
dataset["Jan Units"].astype('int')
dataset.dtypes

ValueError: ignored

In [ ]:
dataset["Active"].astype('bool')

0    True
1    True
2    True
3    True
4    True
Name: Active, dtype: bool

In [ ]:
def convert_currency(val):
  """
  Konversi tipe string menjadi numerik
  -Hilangkan tanda $
  -Hilangkan koma
  -Konversi ke float
  """
  new_val = val.replace(',','').replace('$','')
  return float(new_val)

In [ ]:
dataset['2016'].apply(convert_currency)

0    125000.0
1    920000.0
2     50000.0
3    350000.0
4     15000.0
Name: 2016, dtype: float64

In [ ]:
dataset['2016'] = dataset['2016'].apply(convert_currency)
dataset['2016']

In [ ]:
dataset['2016']

0    125000.0
1    920000.0
2     50000.0
3    350000.0
4     15000.0
Name: 2016, dtype: float64

In [ ]:
dataset['2017'].apply(convert_currency)

0     162500.0
1    1012000.0
2      62500.0
3     490000.0
4      12750.0
Name: 2017, dtype: float64

In [ ]:
dataset['2017'] = dataset['2017'].apply(convert_currency)

In [ ]:
dataset['2017']

0     162500.0
1    1012000.0
2      62500.0
3     490000.0
4      12750.0
Name: 2017, dtype: float64

In [ ]:
def convert_percent(val):
  """
  Konversi nilai persentase string menjadi nilai persen bertipe float
  - Hilangkan %
  - Bagi dengan 100 untuk mendaptkan nilai pecahan
  """

  new_val = val.replace('%','')
  return float(new_val) / 100

In [ ]:
dataset['Parcent Growth'].apply(convert_percent)

0    0.30
1    0.10
2    0.25
3    0.04
4   -0.15
Name: Parcent Growth, dtype: float64

In [ ]:
dataset["Active"] = np.where(dataset["Active"] == "Y", True, False)

In [ ]:
dataset

   Customer Number     Customer Name      2016  ...  Day  Year Active
0            10002  Quest Industries  125000.0  ...   10  2015   True
1           552278    Smith Plumbing  920000.0  ...   15  2014   True
2            23477   ACME Industrial   50000.0  ...   29  2016   True
3            24900        Brekke LTD  350000.0  ...   27  2015   True
4           651029         Harbor Co   15000.0  ...    2  2014  False

[5 rows x 10 columns]

In [ ]:
pd.to_numeric(dataset['Jan Units'], errors='coerce')

0    500.0
1    700.0
2    125.0
3     75.0
4      NaN
Name: Jan Units, dtype: float64

In [ ]:
pd.to_numeric(dataset['Jan Units'], errors='coerce').fillna(0)

0    500.0
1    700.0
2    125.0
3     75.0
4      0.0
Name: Jan Units, dtype: float64

In [ ]:
pd.to_datetime(dataset[['Month','Day','Year']])

0   2015-01-10
1   2014-06-15
2   2016-03-29
3   2015-10-27
4   2014-02-02
dtype: datetime64[ns]

In [ ]:
dataset["Start_Date"] = pd.to_datetime(dataset[['Month','Day','Year']])
dataset["Jan Units"] = pd.to_numeric(dataset['Jan Units'], errors='coerce').fillna(0)

In [ ]:
dataset_2 = pd.read_csv(path_,
                        dtype={'Customer Number' : 'int'},
                        converters={'2016': convert_currency,
                                    '2017': convert_currency,
                                    'Percent Growth': convert_percent,
                                    'Jan Units': lambda x: pd.to_numeric(x, errors='coerce'),
                                    'Active': lambda x: np.where(x == "Y", True, False)
    
                      })
dataset_2.dtypes

Customer Number      int64
Customer Name       object
2016               float64
2017               float64
Parcent Growth      object
Jan Units          float64
Month                int64
Day                  int64
Year                 int64
Active              object
dtype: object